body {
background: linear-gradient(135deg,#ff9a9e,#fad0c4);
font-family: Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.app {
background:#fff;
padding:20px;
border-radius:20px;
width:300px;
text-align:center;
}

textarea {
width:100%;
height:70px;
border-radius:10px;
padding:10px;
border:1px solid #ccc;
}

button {
margin-top:10px;
padding:10px;
width:100%;
border:none;
border-radius:10px;
background:#ff7675;
color:#fff;
font-size:16px;
cursor:pointer;
}
